.container
  .row
    .col-sm-12.col-md-8.col-lg-5.px-5.px-sm-0
      %h2 Sign up
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :name
          %br/
          = f.text_field :name, autofocus: true, class: "name"
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "email"
        .field
          = f.label :postal_code
          %br/
          = f.text_field :postal_code, autofocus: true, id: "user_postcode"
        .field
          = f.label :prefecture_code
          %br/
          = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, id: "user_prefecture_code"
        .field
          = f.label :city
          %br/
          = f.text_field :city, autofocus: true, class: "address", id: "user_address_city"
        .field
          = f.label :street
          %br/
          = f.text_field :street, autofocus: true, class: "address", id: "user_address_street"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", class: "password"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: "password_confirm"
        .actions
          = f.submit "Sign up" ,class: 'btn btn-sm btn-success'
      = render "devise/shared/links"
