%table.table
  %tr
    = attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100"
  %tr
    %th name
    %th
      = user.name
  %tr
    %th introduction
    %th
      = user.introduction
  %tr
    %th following
    %th.following-count 
      = render 'users/following_count', user: user
  %tr
    %th followed
    %th.followers-count
      = render 'users/followers_count', user: user
- if user == current_user
  .edit-btn
    = link_to '', edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}"
- else
  .follow-btn
    = render 'follow_btn', user: user